In [1]:
def selectionSort(alist):
  for slot in range(0,len(alist)-1):
    position=slot
    for location in range(slot+1,len(alist)):
      if alist[location]<alist[position]:
               position = location

    temp = alist[slot]
    alist[slot] = alist[position]
    alist[position] = temp
    print(alist)
angka = [5,1,4,2,8,10,3]
selectionSort(angka)
print(angka)

[1, 5, 4, 2, 8, 10, 3]
[1, 2, 4, 5, 8, 10, 3]
[1, 2, 3, 5, 8, 10, 4]
[1, 2, 3, 4, 8, 10, 5]
[1, 2, 3, 4, 5, 10, 8]
[1, 2, 3, 4, 5, 8, 10]
[1, 2, 3, 4, 5, 8, 10]

In [2]:
def insertionSort(arr):
	n = len(arr) # Dapatkan panjang array

	if n <= 1:
		return # Jika array memiliki 0 atau 1 elemen, maka array sudah diurutkan, jadi kembalikan

	for i in range(1, n): # Ulangi array mulai dari elemen kedua
		key = arr[i] # Simpan elemen saat ini sebagai kunci untuk dimasukkan pada posisi yang tepat
		j = i-1
		while j >= 0 and key < arr[j]: # Pindahkan elemen yang lebih besar dari kunci satu posisi ke depan
			arr[j+1] = arr[j] # Geser elemen ke kanan
			j -= 1
		arr[j+1] = key # Masukkan kunci pada posisi yang benar

# Mengurutkan array [12, 11, 13, 5, 6] menggunakan insertionSort
arr = [12, 11, 13, 5, 6]
insertionSort(arr)
print(arr)

[5, 6, 11, 12, 13]

In [3]:
def selectionSort(array, size):

    for ind in range(size):
        min_index = ind

        for j in range(ind + 1, size):
            # pilih elemen minimum di setiap iterasi
            if array[j] < array[min_index]:
                min_index = j
         # menukar elemen untuk mengurutkan array
        (array[ind], array[min_index]) = (array[min_index], array[ind])

arr = [-2, 45, 0, 11, -9,88,-97,-202,747]
size = len(arr)
selectionSort(arr, size)
print('Array setelah diurutkan dalam Ascending Order berdasarkan pengurutan pilihan adalah:')
print(arr)

Array setelah diurutkan dalam Ascending Order berdasarkan pengurutan pilihan adalah:
[-202, -97, -9, -2, 0, 11, 45, 88, 747]

Akses Nilai Tuple

In [13]:
tup1 = ('Keychron', 'Noir', 2019, 2020)
tup2 = (11, 12, 13, 14, 15, 16, 17 )

print('tup1[0] adalah : ', tup1[0])
print('tup2[0:4] adalah : ', tup2[0:4])

tup1[0] adalah :  Keychron
tup2[0:4] adalah :  (11, 12, 13, 14)

Update Nilai Tuple

In [15]:
tup1 = (98, 76, 54)
tup2 = ('Vortex', 'Rexus')

tup3 = tup1 + tup2
print(tup3)

(98, 76, 54, 'Vortex', 'Rexus')

Hapus Nilai Tuple

In [16]:
tup = ('Ducky', 'Akko', 2021, 2022)
print(tup)

del tup

tup = ('Gateron', 'Afflion', 7288)
print('Setelah menghapus tup jadi : ', tup)

('Ducky', 'Akko', 2021, 2022)
Setelah menghapus tup jadi :  ('Gateron', 'Afflion', 7288)

Penggunaan Dictionary

In [10]:
#Contoh cara membuat Dictionary pada Python

dict = {'Nama': 'Abdul', 'Umur': 19, 'Prodi': 'TI'}
print ("Nama Saya", dict['Nama'])
print ("Saya berumur", dict['Umur'])
print ("Saya di prodi", dict['Prodi'])

Nama Saya Abdul
Saya berumur 19
Saya di prodi TI